body{
	background-color:#f0cbb2;
}
.jumbotron{
	background-color: #6e1f10;
	margin-top: 100px;
}
.jumbotron{
		color:white;

}
.navbar-inverse{
	background: #2c3e50;
}

table th{
	text-align: left;
	background-color: #7B68EE;
	color: #fff;
	padding: 4px 30px 4px 8px;
}
table td{
	border:1px solid #7B68EE;
	padding: 4px 8px;
}
p{
	width: 50%;
}

h2{
	margin: 0;
	padding: 0;
	color: #fff
	text-transform:uppercase;
	letter-spacing:8px;
}
.progress{
	width: 15%;
	margin-left: 150px;
	margin-top: -25px;
	margin-bottom: 100px;
}
.box2,.box4,.box6,.box8,.box10{
	float: right;
	margin-right: auto;
	margin-top: -335px;
}
.box1,.box3,.box5,.box7,.box9{
	margin-left: auto;
	margin-top: 150px;
}
#p2,#p4,#p6,#p8,#p10{
	width: 50%;
	margin-left: 165px;
}
#nine,#ten{
	margin-bottom: 100px;
}

.contain{
  width:100%;
  max-width: 1700px;
  margin-left: 150px;
  margin-right: auto;
  background-color:
}
@media screen and (max-width:375px){
  .container{
  width:100%;
  max-width: 1700px;
  margin-left: 15px;
  margin-right: auto;
  background-color:
}
   
}
@media screen and (max-width: 768px){
  .contain{
  width:100%;
  max-width: 1700px;
  margin-left: 90px;
  margin-right: auto;
  background-color:
}
  .box1{
    width: 100%;
  }
   .box2{
    width: 100%;
   }
  .box3{
    width:100%;
  }

  .box4{
    width:100%;
  }
 .box5{
 	width: 100%;

 }
  .box6{
    width: 100%;
  }
   .box7{
    width: 100%;
   }
  .box8{
    width:100%;
  }

  .box9{
    width:100%;
  }
 .box10{
 	width: 100%;
}
}